<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ryanheise.audioservice">
    <application>
        <service android:name="com.ryanheise.audioservice.AudioService" android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="com.ryanheise.audioservice.MediaButtonReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
